{% extends 'base.html' %}
{% load static %}
{% block pageheadername %}
<h2 class="page-header user_type" xmlns="http://www.w3.org/1999/html">Banner List</h2>
{% endblock %}
{% block card%}
<style>
</style>
{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}


<form role="form" method="post" name="detailform" id="detailform">{% csrf_token %}
<div class="panel panel-default">
<div class="panel-heading">  
</div>
 <!-- /.panel-heading -->
<div class="panel-body">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab" id="tab-main">Banners</a></li>
        <li class="addbutton"><button  onclick="return goToAdd();" >Add </button></li>         
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
           
             <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover" id ="bannerDataList">
                    <thead>
                        <tr>
                            <th>SR. No.</th>                                            
                            <th>Title</th>
                            <th>Description</th>
                            <th>Banner</th>                                                       
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="tab1-tbody">{% csrf_token %}
             		  {% for bannerData in bannerlist %}             		  			
						<tr>
                         <td>{{ forloop.counter }}</td>
                         <td>{{ bannerData.banner_name }}</td>
                         <td>{{ bannerData.description }}</td>	
                         <td><img  height="40px" src="{{bannerData.banner_img_file.url}}"></img> </td>
                                                           
                        <td>
                        <a href="#" onclick='return goToBannerEdit({{bannerData.id }}); '> Edit </a> |
                        <a href="#" onclick='return goToDelete({{bannerData.id }}); '> Delete </a>  </td>
                    </tr>								
                      {% endfor %}  
                    </tbody>
                </table>
            <!-- /.table-responsive --> 
             </div>
        </div>
        </div>
    </div>
</div>
</div>
</form>
<!-- /.panel-body 1-->
{% endblock %}
{% block card2%}
{%endblock%}
{% block jsbody%}
<script type="text/javascript">

	$('#bannerDataList').DataTable({
	    "bSort" : false,
	    
	});
	function goToAdd() {    	
      location.href = "{% url 'add_banner' %}";
      return false;
    } 
    function goToDelete(idVal){
   		var url = "{% url 'delete_banner' 123 %}".replace('123', idVal );
   		if (confirm("Do you want to delete Banner !")) {		
			location.href = url;		  
		} 
		return false;
   } 
   function goToBannerEdit(idVal){
   
   	var url = "{% url 'edit_banner' 999999999 %}".replace('999999999', idVal );
   	location.href = url;
   	return false;	
   
   }
    
    
</script> 
{%endblock%}