{% extends 'base.html' %}
{% load static %}
{% block pageheadername %}
<h2 class="page-header user_type">Moderate Rating</h2>
{% endblock %}
{% block card%}
 
<form class="form-horizontal add_user" action="" method="post" enctype="multipart/form-data">
<div class="panel panel-default">
<div class="panel-heading user-form">         
  
  					                      
                       <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="text-input">Category Name</label>
                        <div class="col-md-4 offset-md-3">
                          <input class="form-control" id="name" type="text" required name="name" placeholder="Category">
                         
                        </div>
                      </div>
                      
                      <div class="form-group row">
                        <label class="col-md-2 col-form-label" for="user_address">Description</label>
                        <div class="col-md-4 offset-md-3">
                          <textarea class="form-control" id="description" required name="description" rows="5" placeholder="Description..."></textarea>
                        </div>
                      </div>
                      
                                         
                    
                     <div class="card-footer">
                    <button class="btn btn-sm btn-primary" type="submit">
                      <i class="fa fa-dot-circle-o"></i> Submit</button>
                    <button class="btn btn-sm btn-danger" type="reset">
                      <i class="fa fa-ban"></i> Reset</button>
                  </div>
</div>
</div>
</div>
</form>
{% endblock %}
 {% block card2%}
 {% endblock %}

{% block jsbody%}
{%endblock%}