{% extends 'base.html' %}
{% load static %}
{% block pageheadername %}
    <h2 class="page-header user_type">Change Password</h2>
{% endblock %}
{% block card%}


 <form class="form-horizontal chng_panel" role="form" enctype="multipart/form-data" method="post">{% csrf_token %}

<div class="panel panel-default">
<div class="panel-heading change-pws">
  	{{ change_password_form.as_p}}
  	
    <div class="card-footer">
    <button class="btn btn-sm btn-primary" type="submit">
      <i class="fa fa-dot-circle-o"></i> Submit</button>
    <button class="btn btn-sm btn-danger" type="reset">
      <i class="fa fa-ban"></i> Reset</button>
  </div>
</div>
</div>
</div>
</form>

{% endblock %}
 {% block card2%}
 {% endblock %}

{% block jsbody%}
<script type="text/javascript">

   
function validLogin(){
var uname=$('#uname').val();
var password=$('#password').val();
$.ajax({
    type: "POST",
    url: "scripts/processed",
    data: {"uname": uname, "password":password},
    cache: false,
    success: function(result){
        var result=trim(result);
        if(result=='correct'){
            window.location='index.php';
            $('#loginForm').submit();
        }else{
            $("#loginerror").html(result);
            return false;
        }
    }
});
}

</script>
{%endblock%}