{% extends 'base.html' %}
{% load static %}

{% block pageheadername %}
<h1 class="page-header user_type" xmlns:uom="http://www.w3.org/1999/xhtml">User List </h1>
{% endblock %}

{% block card%}
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> User List
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
            <div class="table-responsive">
            
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>#</th>                                            
                                            <th>Code</th>
                                            <th>Name</th>
                                            <th>Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                   
                                        <tr>
                                             
                                            <td></td>
                                            <td></td>
                                            <td></td>

                                            <td>
                                             <a href=''> Edit </a>
                                             <a href=''> Delete </a>
                                            </td>
                                        </tr>
                                       
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                </div>
        </div>
        <!-- /.panel-body -->
    </div>
{% endblock %}

{% block card2%}


{% endblock %}