{% load static %}
<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>MeenFee Admin</title>
    <!-- Core CSS - Include with every page -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <link href="{% static 'font-awesome/css/font-awesome.css'%}" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="{% static 'css/sb-admin.css'%}" rel="stylesheet">
    <link href="{% static 'css/custom-style.css'%}" rel="stylesheet">

</head>

<body style="background: #03787d91;">

    <div class="container">
        <div class="row">
            <div class="col-md-7 col-md-offset-3">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading login-from">
                        <h3 class="panel-title">Reset Password</h3>
                    </div>
                    <div class="panel-body form-sign-in">
                        <form  role="form" class="input-label" method="post" >{% csrf_token %}
                            <fieldset>
                               <label>Password:</label>
                                <input type="password" id="new_password1" name="new_password1"><br><br>

                                <label>Confirm Password: </label>
                                <input type="password" id="new_password2" name="new_password2"><br><br>
                                <button type="submit" class="btn btn-lg btn-success btn-block">Reset</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Core Scripts - Include with every page -->
    <script src="{%static 'js/jquery-1.10.2.js'%}"></script>
    <script src="{%static 'js/bootstrap.min.js'%}"></script>
    <script src="{%static 'js/plugins/metisMenu/jquery.metisMenu.js'%}"></script>

    <!-- SB Admin Scripts - Include with every page -->
    <script src="{%static 'js/sb-admin.js'%}"></script>
</body>
</html>
